<div>
  <div class="row m-0 p-0">
    <div *ngIf="isLoading" class="loading">
      <div class="spinner-border text-primary spinner-center" role="status">
      </div>
    </div>
    <div class="mt-2">
      <a [routerLink]="['/add-category']" class="btn btn-info mb-2">Add new</a>
    </div>
    <div class="card p-0">
      <div class="card-header">
        <div class="row">
          <div class="col-5">
            <select class="form-select"
            aria-label="Default select example"
            (change)="filterByStatusProduct($event)"
            >
              <option selected disabled>Trạng Thái</option>
              <option value="INACTIVE">Đang Hoạt Động</option>
              <option value="ACTIVE">Không Hoạt Động</option>
              <option value="DELETED">Xóa mềm</option>
            </select>
          </div>
          <div class="col-2"></div>
          <div class="col-5">
            <select class="form-select w-25 float-end" (change)="handlePageSizeChange($event)">
              <option *ngFor="let size of pageSizes" [ngValue]="size">
                {{ size }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <table class="table table-bordered" id="category">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Create Date</th>
            <th>Update Date</th>
            <th>status</th>
            <th>Group Id</th>
            <th>images</th>
            <th colspan="2">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cate of categories | paginate : {
            itemsPerPage: pageSize,
            currentPage: page,
            totalItems: count}">
            <td>{{cate.id}}</td>
            <td>{{cate.name}}</td>
            <td>{{cate.createDate}}</td>
            <td>{{cate.updateDate}}</td>
            <td>{{cate.status}}</td>
            <td>{{cate.groupId}}</td>
            <td>
              <img src="{{cate.images}}" class="img-fluid w-image" alt="">
            </td>

            <td>
              <button [routerLink]="['/edit-category/' + cate.id]" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" ></button>
              <button (click)="confirmDeleteCategory(content, cate.id,cate.name)" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" ></button>
            </td>

          </tr>
        </tbody>
      </table>
      <div class="card-footer">
        <div class="col-md-12">
          <pagination-controls previousLabel="Prev" nextLabel="Next" [responsive]="true"
            (pageChange)="handlePageChange($event)">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>

  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Confirm</h4>
      <button type="button" class="close" aria-label="close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h5 class="text-danger">{{confirmMessage}}</h5>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success" (click)="deleteCategory()">Yes</button>
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">No</button>
    </div>
  </ng-template>

</div>
