<section>
  <div class="row m-5">
    <div>
      <a [routerLink]="['/add-staff']" class="btn btn-success mb-3"> Add New Staff </a>
    </div>
    <div class="card">
      <div class="card-header">
        Staff List
      </div>
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>No.</th>
              <th>Fullname</th>
              <th>Username</th>
              <th>Email</th>
              <th>Phone</th>
              <th colspan="2">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let staff of staffs, let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ staff.fullname }}</td>
              <td>{{ staff.username }}</td>
              <td>{{ staff.email }}</td>
              <td>{{ staff.phone }}</td>
            
              <td>
                <button [routerLink]="['/update-staff', staff.id]" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" ></button>
                <button (click)="confirmDeleteStaff(content, staff.id)" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"  ></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Confirm</h4>
      <button type="button" class="close" aria-label="close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h5 class="text-danger">{{confirmMessage}}</h5>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success" (click)="deleteStaff()" >Yes</button>
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">No</button>
    </div>
  </ng-template>
</section>
