<div class="p-0 mt-4" >
  <div class="col">
    <div class="">
      <div class="card">
        <p-toolbar styleClass="mb-4">
          <a [routerLink]="'/psu/create/'" class="btn btn-primary">Add new</a>
        </p-toolbar>

        <p-table #dt [value]="psu" [rows]="5" [paginator]="true" responsiveLayout="scroll" [rowHover]="true"
                 currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                 [showCurrentPageReport]="true">

          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="size">Psu Size<p-sortIcon></p-sortIcon></th>
              <th pSortableColumn="wattage">Psu wattage<p-sortIcon></p-sortIcon></th>
              <th pSortableColumn="productId">Product id<p-sortIcon></p-sortIcon></th>
              <th pSortableColumn="productName">Product name<p-sortIcon></p-sortIcon></th>
              <th>Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-psu>
            <tr>

              <td>{{psu?.size}}</td>
              <td>{{psu?.wattage}}</td>
              <td>{{psu?.productId}}</td>
              <td>{{psu?.productName}}</td>
              <td>
                <button [routerLink]="['/psu/update/'+ psu.id]" pButton pRipple icon="pi pi-pencil"
                        class="p-button-rounded p-button-success mr-2"></button>
                <button (click)="confirmDeleteStaff(content, psu.id)" pButton pRipple icon="pi pi-trash"
                        class="p-button-rounded p-button-warning"></button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
              In total there are {{psu ? psu?.length : 0 }}
            </div>
          </ng-template>
          <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
              <h4 class="modal-title">Confirm</h4>
              <button type="button" class="close" aria-label="close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h5 class="text-danger">{{confirmMessage}}</h5>
            </div>
            <div class="modal-footer">
              <button class="btn btn-success" (click)="deletepsu()">Yes</button>
              <button type="button" class="btn btn-secondary" (click)="c('Close click')">No</button>
            </div>
          </ng-template>
        </p-table>
      </div>


    </div>

  </div>

</div>

