<div id="categoryAdd" class="mt-5">

  <div *ngIf="isLoading" class="loading">
    <div class="spinner-border text-primary spinner-center" role="status">
    </div>
  </div>

  <div>
    <a [routerLink]="'/list-category'" class="btn btn-info mb-3 mt-3">List Category</a>
  </div>

  <form [formGroup]="categoryform" (ngSubmit)="createCategory()">

    <div class="card">

      <div class="card-header">
        <h5>Create category</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="text-center">
              <img [src]="img_url" class="img-thumbnail w-25">
            </div>

            <div class="form-group mt-2">
              <div class="mb-3">
                <label class="form-label">Choosse</label>
                <input class="form-control" type="file" formControlName="file" (change)="onFileChange($event)">
                <div *ngIf="categoryform.controls['file'].invalid && categoryform.controls['file'].touched"
                  class="text-danger">
                  <small *ngIf="categoryform.controls['file'].errors?.['required']"> Image không được để trống</small>
                </div>
              </div>
            </div>

          </div>

          <div class="col">

            <div class="form-group mt-2">
              <label>Name</label>
              <input type="text" class="form-control" formControlName="name">
              <div *ngIf="categoryform.controls['name'].invalid && categoryform.controls['name'].touched"
                class="text-danger">
                <small *ngIf="categoryform.controls['name'].errors?.['required']"> Name không được để trống</small>
              </div>
            </div>

            <div class="form-group mt-2">
              <label>Status</label>
              <select class="form-select" formControlName="status" id="status" aria-label="Default select example">
                <option value="INACTIVE">Inactive</option>
                <option value="ACTIVE">Active</option>
                <option value="DELETED">Deleted</option>
              </select>
              <div *ngIf="categoryform.controls['status'].invalid && categoryform.controls['status'].touched"
                class="text-danger">
                <small *ngIf="categoryform.controls['status'].errors?.['required']"> Status không được để trống</small>
              </div>
            </div>

            <div class="form-group mt-2">
              <label>Group component</label>
              <select class="form-select" formControlName="groupId" id="groupId" aria-label="Default select example">
                <option *ngFor="let item of groupC" value="{{item.id}}">{{item.name}}</option>
              </select>
              <div *ngIf="categoryform.controls['groupId'].invalid && categoryform.controls['groupId'].touched"
                class="text-danger">
                <small *ngIf="categoryform.controls['groupId'].errors?.['required']"> Group component không được để
                  trống</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button [disabled]="categoryform.invalid" class="btn btn-success" type="submit">Create</button>
      </div>
    </div>
  </form>
</div>
